@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
h1 {
font-family: 'Source Sans Pro', sans-serif; ;
color:#4169E1 ;
font-size: 3em;
text-decoration: ;
background-color: white;
}
#caixa{
  display: inline-block;
	background-color: white;
	height:160px;
	width: 160px;
	padding: 5px;
	box-sizing: border-box;
}
/*h2{
color: white;
font-size: 2em;
text-decoration: ;
background-color: #66ccff;
}*/
h2{	
	color :  white;
	font-family: 'Source Sans Pro', sans-serif;}
ol{
	color:white;
	font-family: 'Source Sans Pro', sans-serif;}
h3 {
font-family: 'Source Sans Pro', sans-serif;
color: #1E90FF;
font-size: 1.25em;
background-color:white ;
}
p{color:white;
	font-family: 'Source Sans Pro', sans-serif;}
#naruto{
    display: inline-block;
	background-color: orange;
	height:90px;
	width: 90px;
	padding: 5px;
	box-sizing: border-box;
}

body{
  background-color: #4169E1	;
  margin:2px ;
}
