h1 {
color: white;
font-size: 3em;
text-decoration: ;
background-color: #3399ff;
}
#caixa{
  display: inline-block;
	background-color: #3399ff;
	height:160px;
	width: 160px;
	padding: 5px;
	box-sizing: border-box;
}
/*h2{
color: white;
font-size: 2em;
text-decoration: ;
background-color: #66ccff;
}*/
h2{color :  #3399ff}
ol{color:#0066ff}
h3 {
color: white;
font-size: 1.25em;
background-color: #3399ff;
}
p{color:#0066ff}
#naruto{
  display: inline-block;
	background-color: orange;
	height:90px;
	width: 90px;
	padding: 5px;
	box-sizing: border-box;
}
/*deixei comentado abaixo pq fica meio esquisito, mas eu achei legal*/

#tudo{
  background-image: linear-gradient(black, purple,black);
}